
  <div class="div-update">
    <span [hidden]="!isUpdated || isUpdating" > {{ updateMsg }} </span>
    <span [hidden]="!isUpdated || isUpdating" > {{ updateDate }} </span>

    <span [hidden]="isUpdated || isUpdating" > {{ outdatedMsg }} </span>

    <div class="div-progress-bar" *ngIf="isUpdating" >
      <md-progress-bar mode="indeterminate"></md-progress-bar>
    </div>
    <div [hidden]="isUpdated || isUpdating" >
      <a md-raised-button (click)="updateData()" color="primary" >Update Now</a>
    </div>
  </div>  

